<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.zzingobomi.mapper.ItemMapper">

	<insert id="create">
	insert into tbl_item (title_ko, title_en, addinfo, regidemail, regdisplayname)
	values(#{title_ko}, #{title_en}, #{addinfo}, #{regidemail}, #{regdisplayname})
	</insert>
	
	<select id="read" resultType="ItemVO">
	select
		idx, title_ko, title_en, addinfo, regdate, regidemail, regdisplayname
	from
		tbl_item
	where idx = #{idx}	
	</select>
	
	<update id="update">
	update tbl_item set title_ko =#{title_ko}, title_en =#{title_en}, addinfo = #{addinfo}
	where idx = #{idx}
	</update>
	
	<delete id="delete">
	delete from tbl_item where idx = #{idx}
	</delete>
	
	<select id="listAll" resultType="ItemVO">
	<![CDATA[
	select 
		idx, title_ko, title_en, addinfo, regdate, regidemail, regdisplayname
	from
		tbl_item
	where idx > 0
	order by idx desc, regdate desc
	]]>
	</select>
	
	<select id="listPage" resultType="ItemVO">
	<![CDATA[
	select 
		idx, title_ko, title_en, addinfo, regdate, regidemail, regdisplayname
	from
		tbl_item
	where idx > 0
	order by idx desc, regdate desc
	limit #{page}, 10
	]]>
	</select>
	
	<select id="listCriteria" resultType="ItemVO">
	<![CDATA[
	select 
		idx, title_ko, title_en, addinfo, regdate, regidemail, regdisplayname
	from
		tbl_item
	where idx > 0
	order by idx desc, regdate desc
	limit #{pageStart}, #{perPageNum}
	]]>
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
	select 
		count(idx)
	from
		tbl_item
	where idx > 0	
	]]>
	</select>
	
	<select id="listSearch" resultType="ItemVO">
	<![CDATA[
	select *
	from tbl_item
	where idx > 0	
	]]>
	
	<include refid="search"></include>
	
	<![CDATA[
	order by idx desc
	limit #{pageStart}, #{perPageNum}
	]]>
	
	</select>
	
	<select id="listSearchCount" resultType="int">
	<![CDATA[
	select 
		count(idx)
	from
		tbl_item
	where idx > 0	
	]]>
	
	<include refid="search"></include>
	
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'k'.toString()">
				and title_ko like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'e'.toString()">
				and title_en like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'i'.toString()">
				and regidemail like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'ke'.toString()">
				and ( title_ko like CONCAT('%', #{keyword}, '%') OR title_en like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'ei'.toString()">
				and ( title_en like CONCAT('%', #{keyword}, '%') OR regidemail like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'kei'.toString()">
				and ( title_ko like CONCAT('%', #{keyword}, '%') OR title_en like CONCAT('%', #{keyword}, '%') OR regidemail like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>	
	
	<select id="oneRandomItem" resultType="ItemVO">
	select
		idx, title_ko, title_en, addinfo, regdate, regidemail
	from
		tbl_item
	order by 
		rand()
	limit
		1	
	</select>

</mapper>